NodeRed-ObnizAnd2smpb02e.json
[
    {
        "id": "1832e232.ff5e9e",
        "type": "websocket in",
        "z": "fd1010a3.c2b3",
        "name": "receive",
        "server": "67d93382.1fd91c",
        "client": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "58c5a4a9.d16d4c"
            ]
        ]
    },
    {
        "id": "bc1d8569.589458",
        "type": "websocket out",
        "z": "fd1010a3.c2b3",
        "name": "send",
        "server": "67d93382.1fd91c",
        "client": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e38b01f.0f53b",
        "type": "inject",
        "z": "fd1010a3.c2b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "49807fa9.6097f"
            ]
        ]
    },
    {
        "id": "49807fa9.6097f",
        "type": "template",
        "z": "fd1010a3.c2b3",
        "name": "init",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\n        \"i2c0\": {\n            \"mode\": \"master\",\n            \"sda\": 0,\n            \"scl\": 1,\n            \"clock\": 400000\n        },\n        \"io3\":true,\n        \"io2\":false\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [244,255]\n        }\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [184,183,182,181,180,179,178]\n        }\n    },{\n      \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"read\": 7\n      }\n    }\n]\n",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "bc1d8569.589458"
            ]
        ]
    },
    {
        "id": "d620f051.032ea",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "96fd0553.217bd8",
        "type": "function",
        "z": "fd1010a3.c2b3",
        "name": "Temp",
        "func": "TEMP_TXD0 = msg.payload['0'].i2c0.data[2];\nTEMP_TXD1 = msg.payload['0'].i2c0.data[1];\nTEMP_TXD2 = msg.payload['0'].i2c0.data[0];\n\nDt = ((TEMP_TXD2<<16)+(TEMP_TXD1<<8)+(TEMP_TXD0))-Math.pow(2,23);\nmsg.payload.Dt = (TEMP_TXD2<<16)+(TEMP_TXD1<<8)+(TEMP_TXD0);\n\n\nCOE_a2 = flow.get(\"COE_a2\");\nmsg.payload.COE_a2 = COE_a2;\n\nCOE_a1 = flow.get(\"COE_a1\");\nmsg.payload.COE_a1 = COE_a1;\n\nCOE_a0_ex = flow.get(\"COE_a0_ex\");\nmsg.payload.COE_a0_ex=COE_a0_ex;\nCOE_a0 = flow.get(\"COE_a0\");\nmsg.payload.COE_a0 = COE_a0;\n\nmsg.payload.temp = (COE_a0+(COE_a1+COE_a2*Dt)*Dt)/256;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "4ce72276.c1f28c",
                "e7f2456b.47f4d8",
                "df61bff7.3006c",
                "92337c06.ea696",
                "57a236e5.bce338",
                "26fe54e8.62d8fc"
            ]
        ]
    },
    {
        "id": "4ce72276.c1f28c",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temp",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "58c5a4a9.d16d4c",
        "type": "json",
        "z": "fd1010a3.c2b3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "c8cc008d.490d4"
            ]
        ]
    },
    {
        "id": "e7f2456b.47f4d8",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Dt",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "c04cfc7a.a5678",
        "type": "template",
        "z": "fd1010a3.c2b3",
        "name": "send only",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\n        \"i2c0\": {\n            \"mode\": \"master\",\n            \"sda\": 0,\n            \"scl\": 1,\n            \"clock\": 400000\n        },\n        \"io3\":true,\n        \"io2\":false\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [244,255]\n        }\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [252,251,250]\n        }\n    },{\n      \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"read\": 3\n      }\n    }\n]\n",
        "output": "str",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "bc1d8569.589458"
            ]
        ]
    },
    {
        "id": "7d228706.898b98",
        "type": "inject",
        "z": "fd1010a3.c2b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "c04cfc7a.a5678"
            ]
        ]
    },
    {
        "id": "df61bff7.3006c",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.COE_a2",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "92337c06.ea696",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.COE_a1",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "57a236e5.bce338",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.COE_a0",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "a160fc61.a37f",
        "type": "template",
        "z": "fd1010a3.c2b3",
        "name": "reset",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"i2c0\": {\n        \"address\": 86,\n        \"address_bits\": 7,\n        \"data\": [224,230]\n    }\n}",
        "output": "str",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "bc1d8569.589458"
            ]
        ]
    },
    {
        "id": "608a9ada.8522c4",
        "type": "inject",
        "z": "fd1010a3.c2b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "a160fc61.a37f"
            ]
        ]
    },
    {
        "id": "b1eb04ec.4bf978",
        "type": "template",
        "z": "fd1010a3.c2b3",
        "name": "FILO check",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\n        \"i2c0\": {\n            \"mode\": \"master\",\n            \"sda\": 0,\n            \"scl\": 1,\n            \"clock\": 400000\n        },\n        \"io3\":true,\n        \"io2\":false\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [244,255]\n        }\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [252,251,250]\n        }\n    },{\n      \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"read\": 3\n      }\n    },{\n        \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"data\": [252]\n        }\n    },{\n      \"i2c0\": {\n            \"address\": 86,\n            \"address_bits\": 7,\n            \"read\": 1\n      }\n    }\n]\n",
        "output": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "bc1d8569.589458"
            ]
        ]
    },
    {
        "id": "8eb346e0.82b7c8",
        "type": "inject",
        "z": "fd1010a3.c2b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "b1eb04ec.4bf978"
            ]
        ]
    },
    {
        "id": "d3c99895.5705c8",
        "type": "comment",
        "z": "fd1010a3.c2b3",
        "name": "ObnizのReadに関するメモ",
        "info": "Obnizのreadで入ってきたデータは、FILOとなる。\nCOFの値はflow内で共有する\n（init実行後にflowからよび出せる。）",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "26fe54e8.62d8fc",
        "type": "debug",
        "z": "fd1010a3.c2b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.COE_a0_ex",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "9c7064ce.a6ab28",
        "type": "function",
        "z": "fd1010a3.c2b3",
        "name": "init COF",
        "func": "COE_a2_0 = msg.payload['0'].i2c0.data[5];\nCOE_a2_1 = msg.payload['0'].i2c0.data[4];\nCOE_a2 = (COE_a2_1 << 8) + COE_a2_0;\nCOE_a2 = -(COE_a2 & (32768))| (COE_a2 & (32768-1));\nCOE_a2 = (-1.9e-11 + ((1.2e-10 * COE_a2) / 32767.0));\nflow.set(\"COE_a2\",COE_a2);\n\nCOE_a1_0 = msg.payload['0'].i2c0.data[3];\nCOE_a1_1 = msg.payload['0'].i2c0.data[2];\nCOE_a1 = (COE_a1_1 << 8) + COE_a1_0;\nCOE_a1 = -((COE_a1 & (32768))) | (COE_a1 & (32768-1));\nCOE_a1 = (-6.3E-03+ ((4.3E-04 * COE_a1) / 32767.0));\nflow.set(\"COE_a1\",COE_a1);\n\nCOE_a0_ex = msg.payload['0'].i2c0.data[6] & 15;\nflow.set(\"COE_a0_ex\",COE_a0_ex);\nCOE_a0_0 = msg.payload['0'].i2c0.data[1];\nCOE_a0_1 = msg.payload['0'].i2c0.data[0];\nCOE_a0 = (COE_a0_1 << 12) + (COE_a0_0<<4)+(COE_a0_ex);\nCOE_a0 = -((COE_a0 & (524288))) | (COE_a0 & (524288-1));\nCOE_a0 = COE_a0/16\nflow.set(\"COE_a0\",COE_a0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "d620f051.032ea"
            ]
        ]
    },
    {
        "id": "c8cc008d.490d4",
        "type": "change",
        "z": "fd1010a3.c2b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.flag",
                "pt": "msg",
                "to": "$count(msg.payload[\"0\"].i2c0.data)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "dc9876e1.016648"
            ]
        ]
    },
    {
        "id": "dc9876e1.016648",
        "type": "switch",
        "z": "fd1010a3.c2b3",
        "name": "",
        "property": "payload.flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "96fd0553.217bd8"
            ],
            [
                "9c7064ce.a6ab28"
            ]
        ]
    },
    {
        "id": "40b665.8c18b99c",
        "type": "comment",
        "z": "fd1010a3.c2b3",
        "name": "参考資料",
        "info": "issaxugのハンズオン資料がものすごく参考になった。\nhttps://github.com/isaaxug/2smpb02e-with-isaax",
        "x": 220,
        "y": 420,
        "wires": []
    },
    {
        "id": "9085ddb8.cc29",
        "type": "comment",
        "z": "fd1010a3.c2b3",
        "name": " 動かし方",
        "info": "initを実行してからsend onlyを実行する\nそれ以外はデバッグ用につかった。",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "67d93382.1fd91c",
        "type": "websocket-listener",
        "z": "",
        "path": "wss://2ws.obniz.io/obniz/9516-6733/ws/1",
        "wholemsg": "false"
    }
]
